doctype html
html
  head
    title Güvenlik Raporlama Sistemi - 401 Unauthorized Access
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.gray-bg
    div.middle-box.text-center.animated.fadeInDown
      h1 401
      h3.font-bold Yetkisiz Giriş

      div.error-desc
        | Erişmeye çalıştığınız sayfayı görüntüleme yetkiniz bulunmamaktadır.

    
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/bootstrap.min.js')